html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.ant-layout {
  display: flex!important;
  width: 100%!important;
  min-height: 100%!important;
}

.list-table{
  width: 850px;
  margin: 0 auto;
  margin-top: 5%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  background-color: #FFF;
}

.errorpage{
  width: 400px;
  margin: 0 auto;
  margin-top: 5%;
  font-weight: bold;
}

.header-button{
  margin: 20px 10px 0 10px;
}